<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="com.icip.framework.sys.log.CustomPatternLayout">
			<param name="ConversionPattern"
				value="[%X{companyID}] %p %-d{yyyy-MM-dd HH:mm:ss} [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<!-- 文件日志 -->

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
