<div class="noclass left">
        <span>房号：</span>

        <div class="control-css3select" id="ban">
            <select class="radius3" ng-model="address.ban"
                    ng-options="room.ban for room in roomList"
                    ng-change="address.unit='';address.houseNo='';">
                <option value="">选择期</option>
            </select>
        </div>
<!--         <span>期</span> -->

        <div class="control-css3select" id="unit">
            <select class="radius3" ng-model="address.unit"
                    ng-options="ban.unit for ban in address.ban.unitList"
                    ng-change="address.houseNo='';">
                <option value="">选择单元</option>
            </select>
        </div>
        <span>单元</span>

        <div class="control-css3select" id="houseNo">
            <select class="radius3" ng-model="address.houseNo"
                    ng-options="hn.houseId as hn.houseNo for hn in address.unit.houseNumList" ng-click="dirsearchinit()">
                <option value="">选择号</option>
            </select>
        </div>
<!--         <span>号</span> -->

		
</div>