<div class="content-box">
	<div class="skin-box">
		<div class="skin-box-bd" ng-controller="RePwdCtrl">

			<div class="content-box-title">
				<h3>修改密码</h3>
			</div>
			<div class="revisepassw-box">
				<form role="form" ng-submit="rePwd('USPasswordModify',this)"
					method="post">
					<ul>
						<li>
							<div class="lf">登录账号：</div>
							<div>{{responseBody.mobile}}</div> <input type="hidden"
							id="mobile" name="mobile" ng-model="mobile"
							value="{{responseBody.mobile}}">
						</li>
						<li>
							<div class="lf">
								<label>当前密码：</label>
							</div>
							<div>
								<input type="password" class="radius5 input" type="text"
									ng-model="oldPassword" id="oldPassword" name="oldPassword"
									required>
							</div>
						</li>
						<li>
							<div class="lf">
								<label>新密码：</label>
							</div>
							<div>
								<input type="password" class="radius5 input" type="text"
									ng-model="password" id="password" name="password" required>
							</div>
						</li>
						<li>
							<div class="lf">
								<label>确认新密码：</label>
							</div>
							<div>
								<input type="password" class="radius5 input" type="text"
									ng-model="ckpassword" id="ckpassword" name="ckpassword"
									required>
							</div>
						</li>
						<li>
							<div class="lf"></div>
							<div class="btn JsW" data-control-type="button"
								data-control-config="{'buttonCls':'button','downCls':'ks-down'}">
								<span class="enter"> <input value="确认" type="submit"
									class="radius5 button">
								</span> <span> <input value="取消" type="button"
									class="radius5 button" ng-click="go_back()">
								</span>
							</div>
						</li>
					</ul>
				</form>
			</div>
		</div>
		<div class="bottom-border"></div>
	</div>
</div>