<div id="page" class="login-page">
    <div id="header" class="layout">
        <div class="grid-m">
            <div class="col-main">
                <div class="main-wrap">
                    <div class="skin-box">
                        <div class="skin-box-bd">
                            <div class="banner">
                                <div class="left">
                                    <div class="logo" style="{{logoImg}}"> </div>
                                    <div class="logo-txt" ng-bind="logoName"></div>
                                    <span class="separator"></span>
                                    <div class="sys">
                                        收费系统<span>ICIP智慧社区平台</span>
                                    </div>
                                </div>
                                <div class="right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="layout">
        <div class="grid-m0">
            <div class="col-main">
                <div class="main-wrap">
                    <div class="skin-box" style="{{imgurl}}">
                        <div class="skin-box-bd">
                            <div class="login-box">
                                <div class="login-alpha alpha60 radius10"></div>
                                <form role="form" ng-controller="USLoginCtrl" ng-submit="usLogin('USLogin',this);"
                                      method="post">
                                    <ul>
                                        <li>
                                            <div>
                                                <label>账号：</label>
                                            </div>
                                            <div>
                                                <input type="text" class="radius5 input" ng-model="account"
                                                       name="account" required>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <label>密码：</label>
                                            </div>
                                            <div>
                                                <input type="password" class="radius5 input" ng-model="pwd"
                                                       name="password" required>
                                            </div>
                                        </li>
                                        <li class="redbutton control-button"><input value="登录" id="bLogin"
                                                                                    data-control-type="button"
                                                                                    type="submit"
                                                                                    class="radius5 button  JsW"></li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
