@charset "UTF-8";
/*-------------------表单-------------------------*/
.control-css3select::after {
    width: 16px;
    border: none;
    background-position: left -22px;
}

.control-css3select::after {
    width: 16px;
    border: none;
    background-position: left -22px;
}
.nav-row-btn{
    width: 80px;
    height: 100%;
    display: block;
}
/*===========================全局内容开始===========================*/
.search-box:after , .noclass:after ,.rule-box:after{
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.left {
    float: left;
    overflow: hidden;
}

.right {
    float: right;
    overflow: hidden;
}

/*----------------------菜单选项开始-------------------------*/
.content-box-menu .ico {
    /*菜单图标*/
    background: url("img/03-icon-red.png") no-repeat -2px -2px;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    width: 0px;
    float: left;
    height: 22px;
    width: 22px;
}

.content-box-menu ul {
    width: 100%;
}

.content-box-menu ul li {
    float: left;
    font-size: 18px;
    line-height: 45px;
    height: 45px;
    margin-top: 4px;
    cursor: pointer;
    white-space: nowrap;
    display: block;
    float: left;
    overflow: hidden;
}

.content-box-menu ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.content-box-menu ul li span {
    display: inline-block;
    float: left;
}

.content-box-menu ul li .end, .content-box-menu ul li .separator {
    height: 25px;
    margin: 10px 0 0 30px;
    float: left;
}

.content-box-menu .ico {
    margin: 13px 8px 0 20px;
}

.content-box-menu .owner {
    background-position: -2px -33px;
}

.content-box-menu .nonowner {
    background-position: -2px -65px;
}

.content-box-menu .record {
    background-position: -2px -96px;
}

.content-box-menu ul .active {
    border-top: 4px solid #ff0100;
    margin-top: 0;
}

/*----------------------菜单选项结束-------------------------*/
/*----------分页导航---------*/
.list-table-page {
    margin-bottom: 20px;
}

.list-table-page:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.list-table-page span, .list-table-page a {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.list-table-page span:focus, .list-table-page span:hover, .list-table-page a:focus, .list-table-page a:hover {
    background: #eee;
}

.list-table-page .pagination {
    border-radius: 0;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}

.list-table-page .active > span, .list-table-page .active > a {
    background-color: #428bca;
    border-color: #428bca;
    color: #ffffff;
    cursor: default;
    z-index: 2;
}

.list-table-page .disabled > span, .list-table-page .disabled > a {
    background-color: #ffffff;
    border-color: #dddddd;
    color: #999999;
    cursor: not-allowed;
}

.list-table-page .separator {
    margin-top: 22px;
    height: 18px;
}

.list-table-page input {
    height: 25px;
    width: 70px;
    margin: 0 5px;
}

.list-table-page .table-page-con {
    float: right;
}

.list-table-page .table-page-con li {
    float: left;
}

/*----------分页导航结束-----------------------------*/
/*---------------业主信息框开始--------------------------*/
.ownerinformation {
    width: 97%;
    height: 95px;
    margin: 20px auto 0 auto;
    background: url("img/05-image-yellowbg.png") no-repeat;
}

.ownerinformation ul {
    height: 25px;
}

.ownerinformation ul li {
    margin-top: 35px;
    margin-left: 45px;
    margin-right: 10px;
    overflow: hidden;
    float: left;
}

.ownerinformation ul .print .button {
    height: 30px;
    width: 130px;
    background: #ffab3e;
    border: none;
    border-bottom: 2px #ff902a solid;
    font-weight: bold;
    color: #fff;
    margin-left: 0px;
}

.ownerinformation ul .print .ks-down {
    background: #de8c20;
    border: none;
    border-bottom: 2px #df7714 solid;
}

/*---------------业主信息框结束--------------------------*/
/*----------------------搜索框开始--------------------------*/
.search-box {
    margin-left: 20px;
    margin-top: 20px;
}

.search-box span {
    margin: 5px 5px 0 5px;
}

.search-box span, .search-box .control-adjustment, .search-box .control-css3select {
    float: left;
}

.search-box .control-css3select {
    height: 26px;
    width: 120px;
    margin-left: 5px;
    margin-top: 5px;
    display: block;
}

.search-box input, .search-box select, .search-box .control-adjustment {
    height: 25px;
    width: 120px;
    margin-left: 5px;
    border: 1px solid #ccc;
}

.search-box .control-css3select select {
    height: 100%;
    margin: 0;
    padding: 0;
}

.search-box .control-adjustment {
    margin-top: 5px;
}

.search-box .control-adjustment .frame .ks-input {
    width: 88%;
    border: none;
}

.search-box .button {
    height: 30px;
    width: 110px;
    background: #ffab3e;
    border: none;
    border-bottom: 2px #fe9226 solid;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}

.search-box .ks-down {
    background: #de8c20;
    border: none;
    border-bottom: 2px #df7714 solid;
}

/*----------------------搜索框结束--------------------------*/

/*-----------------------表格开始-------------------*/
.keypayment .button {
    height: 40px;
    width: 130px;
    background: #55d080;
    border: none;
    border-bottom: 2px #3abf62 solid;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.keypayment .ks-down {
    background: #2ea959;
    border: none;
    border-bottom: 2px #1f9b45 solid;
}

table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

table td {
    height: 40px;
    border: 1px solid #ccc;
    padding: 5px 3px;
}

table .th {
    background: #e7e7e7;
}

table .th td {
    background: #e7e7e7;
    height: 30px;
    text-align: center;
}

table .tablelayoutrow {
    height: 1px;
    border: none;
    background: none !important;
    margin: 0;
    padding: 0;
}

table .tablelayoutrow td {
    height: 1px;
    border: none;
    background: none !important;
    margin: 0;
    padding: 0;
}

table .tablelayoutcol {
    width: 1px;
    border: none;
    background: none !important;
    margin: 0;
    padding: 0;
    display: none;
}

.content-box .list-table {
    width: 97%;
    margin: 25px auto 0 auto;
}

.content-box .list-table .list-table-cont {
    background: #f3f3f3;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}

.table-cont .th {
    height: 30px;
    line-height: 30px;
    padding: 5px;
    background: #e7e7e7;
}

.table-cont .ks-nav-row {
    background: #e7e7e7;
    border-bottom: 1px solid #ccc;
}
.table-cont .ks-nav-row  .nav-row-btn{
    background: url("img/icon-updn.png") center 9px no-repeat;
}
.table-cont .ks-active {
    border-bottom: none;
}
.table-cont .ks-active .nav-row-btn{
    background-position: center -42px;
    border-bottom: none;
}
.list-table-cont .mergeup table {
    /*表格向上合并*/
    margin-top: -1px;
}

.table-title .row .details {
    height: 50px;
    line-height: 50px;
    float: left;
    margin: 0 20px;
    overflow: hidden;
}

.list-table-cont .table-cont .ft {
    height: 50px;
    line-height: 50px;
    background: #e7e7e7;
}

.list-table-cont .table-cont .ft input, .list-table-cont .table-cont .ft .control-checkbox {
    margin-left: 1.4em;
    margin-right: 1.5em;
}

/*-----------------------表格结束-------------------*/
/*-----------------------表格table1，table2开始-------------------*/
.table1 .col1 {
    width: 16.8%;
}

.table1 .col2 {
    width: 9.8%;
}

.table1 .col3 {
    width: 12%;
}

.table1 .col4 {
    width: 12%;
}

.table1 .col5 {
    width: 12%;
}

.table1 .col6 {
    width: 13%;
}

.table1 .col7 {
    width: 12.5%;
}

.table1 .col8 {
    width: 11%;
}

.table1 .table-cont .col1 {
    text-indent: 1em;
}

.table1 .table-cont .col2, .table1 .table-cont .col6, .table1 .table-cont .col7, .table1 .table-cont .col8 {
    text-align: center;
}

.table1 .table-cont .col3, .table1 .table-cont .col4, .table1 .table-cont .col5 {
    text-align: right;
}

.table1 .checkboxall {
    float: left;
    margin-left: 1em;
}

/**---------------table2---------*/
.table2 .col1 {
    width: 15%;
}

.table2 .col2 {
    width: 12%;
}

.table2 .col3 {
    width: 11.3%;
}

.table2 .col4 {
    width: 11.3%;
}

.table2 .col5 {
    width: 10.5%;
}

.table2 .col6 {
    width: 9.8%;
}

.table2 .col7 {
    width: 9.8%;
}

.table2 .col8 {
    width: 5.4%;
}

.table2 .col9 {
    width: 4.4%;
    text-align: center;
}

.table2 .col10 {
    width: 10.5%;
    text-align: center;
}

.table-title .tt {
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    border-bottom: dashed 1px #ccc;
    width: 98%;
    margin: 0 auto;
}

.leftchbox .col1, .leftchbox .th .col1 {
    text-align: left;
}

.two .leftchbox .th .col1 {
    text-align: center;
}

.leftchbox td input, .leftchbox td .control-checkbox {
    margin-right: 1.3em;
    margin-left: 1em;
}

.table2 .one .col2 {
    text-align: right;
}

.table2 .one .th .col2 {
    text-align: center;
}

.table2 .two .col2 {
    text-align: center;
}

.table2 .one .col3 {
    text-align: center;
}

.table2 .two .col3 {
    text-align: right;
}

.table2 .two .th .col3 {
    text-align: center;
}

.table2 .col4 {
    text-align: right;
}

.table2 .th .col4 {
    text-align: center;
}

.table2 .one .col5 {
    text-align: right;
}

.table2 .one .th .col5 {
    text-align: center;
}

.table2 .two .col5 {
    text-align: center;
}

.table2 .one .col6 {
    text-align: center;
}

.table2 .two .col6 {
    text-align: center;
}

.table2 .two .th .col6 {
    text-align: center;
}

.table2 .two .col7 {
    text-align: right;
}

.table2 .two .th .col7 {
    text-align: center;
}

.table2 .two .col8 {
    text-align: right;
}

.table2 .two .th .col8 {
    text-align: center;
}

.table2 .table-cont .col1 {
    text-align: left;
    text-indent: 2em;
}

/*----------------table3--------------------*/
.table3 .col1 {
    width: 20%;
    border-left: none;
}

.table3 .col2 {
    width: 13.5%;
}

.table3 .col3 {
    width: 13.5%;
}

.table3 .col4 {
    width: 13.1%;
}

.table3 .col5 {
    width: 13.1%;
}

.table3 .col6 {
    width: 13.1%;
}

.table3 .col7 {
    width: 13.1%;
    border-right: none;
}

.table3 .col2, .table3 .col3, .table3 .col4, .table3 .col5 {
    text-align: right;
}

.table3 .col6, .table3 .col7 {
    text-align: center;
}

.table3 .th td {
    text-align: center;
}

/*------------------------table4--------------------------------*/
.table4 .table-cont .col7 {
    color: #c4c4c4;
}

.table4 .table-cont .col7 a {
    color: #00f;
}

.table4 .col1 {
    width: 14.3%;
}

.table4 .col2 {
    width: 19.5%;
}

.table4 .col3 {
    width: 13.5%;
}

.table4 .col4 {
    width: 13.1%;
}

.table4 .col5 {
    width: 13.1%;
}

.table4 .col6 {
    width: 13.1%;
}

.table4 .col7 {
    width: 13.1%;
}

.table4 td {
    text-align: center;
}

.table4 .col1 {
    text-align: left;
}

.table4 .th .col1 {
    text-align: center;
}

/*-----------------------表格table1，table2结束-------------------*/
.content-box-label {
    height: 34px;
    margin-top: 25px;
    color: #fff;
    line-height: 32px;
    background: url("img/09-image-tittle-red.png") no-repeat left top;
}

.content-box-label span {
    width: 165px;
    text-align: center;
    display: inline-block;
}

.margin-bottom0 {
    margin-bottom: 0px;
}

/*===========================全局内容结束===========================*/

#header .skin-box-bd {
    height: 80px;
    background: url("img/01_image_bg.png");
    padding: 0;
}

.banner {
    height: 50px;
    padding-top: 20px;
    width: 96%;
    margin: 0 auto;
    color: #ffffff;
}

.banner a {
    color: #fff;
}
#header .banner .left{
    width: 50%;
}
#header .logo {
   width: 60px;
    height: 50px;
    background: url("img/01_image_logo.png") no-repeat left top;
    background-size: contain;
    float: left;
}
#header .banner .left .logo-txt {
    float: left;
    font-size: 24px;
    margin-top: 8px;
    font-weight:600;
    margin-right: 10px;
}

#header .sys {
    display: inline-table;
    vertical-align: bottom;
    float: left;
    font-size: 20px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

#header .sys span {
    font-size: 16px;
    margin-left: 10px;
}

/*#header .sys li{
	display:inline-table;
	vertical-align:bottom;
	float:left;
	margin-left:10px;
	height:100%;
}*/
#header .sys .sys-name {
    font-size: 16px;
}

#header .left .separator {
    height: 25px;
    margin-top: 15px;
    float: left;
}

.userinfo {
    float: right;
    margin-top: 20px;
}

.userinfo li {
    float: right;
    margin-right: 10px;
}

.login-page #header .skin-box-bd {
    padding-bottom: 0;
}

/*---------页头结束---------------------------------------*/
/*---------页脚开始---------------------------------------*/
#footer .skin-box-bd {
    height: 80px;
}

#footer .footer-box {
    position: absolute;
    float: left;
    height: 80px;
    margin-top: 15px;
    margin-left: 50%;
    display: block;
}

#footer .footer-content {
    position: relative;
    left: -50%;
    float: left;

}

#footer .footer-content p {
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
}

/*---------页脚结束---------------------------------------*/

/*---------内容开始---------------------------------------*/
#content .content-box .skin-box {
    width: 100%;
    background: #efefef;
    padding: 0;
    border: none;
}

#content .content-box .bottom-border {
    width: 97.5%;
    height: 5px;
    background: #fff;
    border: solid 1px #d0d0d0;
    border-top: none;
    margin: 0 auto 5px auto;
    display: block;
    padding: 0;
    overflow: hidden;
}

#content .content-box .skin-box .skin-box-bd {
    width: 98%;
    min-height: 500px;
    padding: 0;
    background: #fff;
    margin: 10px auto 0 auto;
    border: 1px solid #d0d0d0;
}

.login-page #content .skin-box, .revisepassw-page #content .content-box .skin-box, #content .chargeprompt .content-box .skin-box {
    height: 605px;
}

/*---------内容结束------------------*/

/*---------01登录页面内容开始---------------------------------------*/
.login-page #content .skin-box {
    width: 100%;
    background: url("img/01-image-bg02.png");
}

.login-page #content .skin-box {
    border: none;
    margin-bottom: 0;
}

/*---------登录框开始-----*/
.login-page .login-box {
    width: 420px;
    height: 270px;
    position: absolute;
    right: 145px;
    top: 145px;
}

.login-page .login-alpha {
    background: #eeeeee;
    height: 100%;
    width: 100%;
}

.login-page .login-box ul {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 99;
    padding: 20px;
}

.login-page .login-box li {
    width: 370px;
    margin: 20px auto 0 auto;
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
}

.login-page .login-box li div {
    line-height: 40px;
    float: left;
}

.login-page .login-box .input {
    margin-left: 15px;
    height: 40px;
    width: 295px;
    border: none;
    background: #ffffff;
    line-height: 40px;
}

.redbutton .button {
    background: #ff4948;
    margin: 20px auto 0 auto;
    border: none;
    color: #ffffff;
}

.redbutton .ks-down {
    background: #d5393a;
}

.login-page .login-box .redbutton .button {
    width: 98%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}

/*---------登录框结束-----*/
/*---------01登录页面内容结束---------------------------------------*/

/*---------02修改密码页面内容开始---------------------------------------*/

.revisepassw-page #content .content-box .skin-box .skin-box-bd, .chargeprompt #content .content-box .skin-box .skin-box-bd, .tempcharge #content .content-box .skin-box .skin-box-bd {
    background: url("img/02-image-bg.png") no-repeat right bottom #fff;
    height: 96%;
    overflow: hidden;
}

.revisepassw-page #content .content-box .skin-box .content-box-title {
    border-bottom: 1px solid #ff4342;
    width: 98%;
    height: 45px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 45px;
}

/*表单开始-----*/
.revisepassw-box {
    width: 370px;
    height: 260px;
    margin: 0 auto;
}

.revisepassw-box ul {
    padding-top: 20px;
}

.revisepassw-box li {
    width: 400px;
    margin: 0 auto 10px auto;
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
}

.revisepassw-box li div {
    line-height: 40px;
    height: 40px;
    float: left;
}

.revisepassw-box li .lf {
    display: block;
    width: 105px;
    text-align: right;

}

.revisepassw-box .btn {
    margin-top: 10px;
}

.revisepassw-box .input {
    margin-left: 5px;
    height: 30px;
    width: 260px;
    border: solid 1px #ccc;
    background: #ffffff;
    padding: 2px;
}

.btn .button {
    width: 110px;
    height: 40px;
    background: #e3e3e3;
    border-width: 0;
    font-size: 18px;
    color: #333333;
}

.btn .ks-down {
    background: #d5393a;
}

.btn .enter .button {
    width: 150px;
    background: #ff5757;
    color: #ffffff;
    border: none;
    margin-right: 20px;
    margin-left: 5px;
}

.btn .ks-down {
    background: #cacaca;
    border-bottom: 1px solid #c0c0c0;

}

.btn .enter .ks-down {
    background: #d5393a;
}

/*表单结束-----*/
/*---------02修改密码页面内容结束---------------------------------------*/

/*-------------------04账单缴费-搜索个人开始---------------------*/
.drop-box {
    width: 88px;
    height: 150px;
    position: absolute;
    display: block;
    z-index: 1000;
}

.drop-box .bg {
    width: 100%;
    height: 100%;
    background: #000;
    display: block;
}

.drop-box .drop-cont {
    width: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
}

.drop-box .drop-cont .list {
    margin-top: 15px;
}

.drop-box .drop-cont .list li {
    height: 26px;
    line-height: 26px;
    text-align: left;

    /*width: 66px;*/
    /*	display:table-cell;
        vertical-align:middle;
        text-align:center;
        float:left;*/
    margin: 4px auto 0px 20px;
}

.drop-box .drop-cont .list li .control-checkbox {
    margin-right: 8px;
}

.drop-box .drop-cont .redbutton {
    width: 79px;
    height: 23px;
    margin: 0 auto
}

.drop-box .drop-cont .redbutton .button {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    line-height: 20px;
}

.status,#status {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}

.status:after,#status:after {
    /*箭头*/
    border: 7px solid transparent;
    border-top: 10px solid #a2a2a2;
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    top: 40%;
    content: '';
}

/*-------------------04账单缴费-搜索个结束---------------------*/

/*-----------------05账单详情-未激活页面内容开始-----------------------------*/
/*	.billdetails{
	overflow: hidden;
}*/

/*-----------------05账单详情-未激活页面内容结束-----------------------------*/

/*-----------------06账单详情-已激活页面内容开始-----------------------------*/

/*-----------------06账单详情-已激活页面内容结束-----------------------------*/

/*-----------------o7业放收费-周期性收费内容开始-----------------------------*/
.searchpay {
    width: 100%;
    overflow: hidden;
}

.searchpay .keypayment {
    margin-top: 10px;
    margin-right: 20px;
}

.table-cont .th input, .table-cont .th .control-checkbox {
    margin-right: 1.3em;
    margin-left: 1em;
}

/*.periodiccharge .table-cont .col2{
	text-align:right;
}
.periodiccharge .table-title .th .col1{
	text-align:left;
}*/

.ft .left span, .ft .left a {
    display: inline-block;
    float: left;
}

.ft .keypayment button {
    margin-right: 20px;
}

.ft a {
    float: left;
    margin: 0 15px;
    color: #00f;
}

.ft .link {
    float: left;
    margin-left: 40px;
}

.ft .separator {
    margin-top: 18px;
    border-color: #000;
}

/*------------------07业放收费-周期性收费内容结束---------------------------*/

/*------------------弹出框开始----------------------*/
.modal-box {
    display: none;
}

.modal-box .bg {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaa;
    display: block;
    z-index: 1000;
}

.modal-box .pop-box {
    position: absolute;
    left: 340px;
    top: 100px;
    width: 600px;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 1000;
}

.pop-box .pop-box-hd {
    height: 65px;
    border-bottom: 1px dashed #ccc;
    width: 95%;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 65px;
    font-size: 22px;
}

.pop-box .pop-box-hd i {
    text-decoration: none;
    background: #ccc;
    height: 20px;
    width: 20px;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.pop-box .pop-box-bd .left, .pop-box .pop-box-bd .right {
    width: 49%;
}

.pop-box .pop-box-bd ul li {
    line-height: 35px;
}

.pop-box .pop-box-bd .left {
    text-align: right;
}

.pop-box .pop-box-bd .right {
    text-align: left;
}

.pop-box .pop-box-bd .print {
    text-align: center;
}

.pop-box .pop-box-bd .right input, .pop-box .pop-box-bd .right select {
    border: 1px solid #ccc;
    height: 25px;
    width: 110px;
}

.pop-box .pop-box-bd .right .control-css3select {
    height: 25px;
    width: 110px;
}

.pop-box .pop-box-bd .right .control-css3select:after {
    background-position: center -22px;
    -o-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pop-box .pop-box-bd .print input, .pop-box .pop-box-bd .latefees input {
    margin: 0 10px;
}

.pop-box .pop-box-ft .redbutton {
    width: 100%;
    text-align: center;
}

.pop-box .pop-box-ft .redbutton .button {
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin: 10px auto 20px auto;
}

/*-----------------------弹出框结束--------------------------------*/
/*------------------业主收费-临时性收费-提示开始----------------------*/
/*.chargeprompt  .billdetails{
	overflow:hidden;
}*/
.chargeprompt .content-box-con .keypayment .button {
    width: 150px;
    height: 40px;
    margin-left: 0;
}

.chargeprompt .content-box-con .keypayment {
    margin-top: 30px;
}

.chargeprompt .content-box-con .keypayment .close .button {
    width: 110px;
    background: #e3e3e3;
    color: #666;
    border-color: #d8d8d8;
    margin-left: 20px;
}

.chargeprompt .content-box-con  .keypayment .close .ks-down {
    background: #cacaca;
    border-color: #c0c0c0;
}

.chargeprompt .content-box-con div {
    text-align: center;
}

.chargeprompt .content-box-con {
    position: relative;
}

.chargeprompt .content-box-con .success {
    margin: 40px auto 10px auto;
    font-size: 25px;

}

/*------------------业主收费-临时性收费-提示结束----------------------*/

/*------------------09业主收费-临时性收费开始----------------------*/
.tempcharge #content .content-box .skin-box {
    height: auto;
}

.tempcharge .content-box-con {
    width: 97%;
    margin: 0 auto;
}

.tempcharge .content-box-form {
    margin-top: 10px;
    width: 600px;
}

.tempcharge .content-box-form ul li {
    line-height: 35px;
}

.tempcharge .content-box-form ul .remarks {
    height: auto;
}

.tempcharge .content-box-form .left {
    width: 31%;
    text-align: right;
}

.tempcharge .content-box-form .right {
    width: 67%;
    text-align: left;
}

.tempcharge .content-box-form .print {
    text-align: center;
}

.tempcharge .content-box-form .print .left {
    text-align: left;
    width: 80%;
}

.tempcharge .content-box-form .print .left .details {
    margin-top: 20px;
    margin-left: 21%;
}

.tempcharge .content-box-form .print .right .details {
    margin-top: 20px;
    margin-left: -10px;
}

.tempcharge .content-box-form .right input, .tempcharge .content-box-form .right select, .tempcharge .content-box-form .right textarea {
    border: 1px solid #ccc;
    height: 25px;
    width: 171px;
}

.tempcharge .content-box-form .right .control-css3select {
    height: 25px;
    width: 171px;
}

.tempcharge .content-box-form .right .control-css3select::after {
    background-position: center -22px;
    -o-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.tempcharge .content-box-form .right textarea {
    height: 76px;
    width: 100%;
}

.tempcharge .content-box-form .print input, .tempcharge .content-box-form .chargecycle .left input, .tempcharge .content-box-form .print .control-checkbox, .tempcharge .content-box-form .chargecycle .left .control-checkbox {
    margin: 0 10px;
}

.tempcharge .content-box-con .confirm {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px
}

.tempcharge .content-box-con .redbutton .button {
    height: 40px;
    width: 150px;
}
.rule-box .right {
	width: 50%;
    
}
.rule-box .rule-content{
    padding-top:6px;
    line-height: 30px;
    padding-right: 100px;
}
.rule-title{
    font-size: 18px;
    text-align: center;
}
/*------------------09业主收费-临时性收费结束----------------------*/

/*------------------11业主收费-履约金收费开始----------------------*/

/*------------------11业主收费-履约金收费结束----------------------*/
/*------------------15缴费记录开始----------------------*/

.table5 .table-cont .col1 {
    text-align: left;
    text-indent: 1em;
}

.table5 .row table .col1 {
    width: 15%;
}

.table5 .row table .col2 {
    width: 8%;
}

.table5 .row table .col3, .table5 .row table .col4, .table5 .row table .col5 {
    width: 9%;
}

.table5 .row table .col6 {
    width: 10%;
}

.table5 .row table .col7 {
    width: 9%;
}

.table5 .row table .col8, .table5 .row table .col9 {
    width: 9%;
}

.table5 .row table .col10 {
    width: 5%;
}

.table5 .table-cont .row table .col10 {
    color: #c4c4c4;
}

/*.table5 .table-cont  .row table .col10 a{
	color: #00f;
}*/
.table5 .table-cont .row table td {
    text-align: center;
}

.table5 .table-cont .row table .col1 {
    text-align: left;
}

.table5 .table-cont .row table .col3 {
    text-align: right;
}

.operate-pop-box {
    width: 260px;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    display: none;
    text-align: center;
}

.operate-pop-box a ,.operate-pop-box .span{
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

.pop-box-bd .reason-hd {
    width: 90%;
    margin: 10px auto;
}

.pop-box-bd .reason-bd {
    width: 100%;
}

.pop-box-bd .reason-bd .textarea {
    width: 90%;
    height: 170px;
    margin: 10px auto;
    display: block;
}

.pop-box .pop-box-ft .redbutton .remove .button {
    background: #e3e3e3;
    color: #333;
    margin-left: 80px;
}

.pop-box .pop-box-ft .redbutton .remove .ks-down {
    background: #cacaca;
}

/*------------------15缴费记录结束----------------------*/

/*------------------17对账单2内容开始----------------*/
.content-box-con .box-con-bg {
    width: 97%;
    margin: 0 auto;
    background: #f3f3f3;
    overflow: hidden;
}

.content-box-con-bd {
    width: 96.5%;
    margin: 20px 20px 10px 20px;
    min-height: 50px;
    background: #fff;
}

.content-box-con-bd .title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    text-align: center;
}
.title.search-box{
    text-align: center;
}
.content-box-con-bd ul {
    margin: 5px auto;
    padding-bottom: 15px;
}

.content-box-con-bd ul li {
    height: 147px;
    width: 276px;
    margin-left: 14px;
    margin-top: 15px;
    display: block;
    float: left;
}

.content-box-con-bd ul li .box {
    width: 50%;
    color: #fff;
    float: right;
}

.content-box-con-bd ul li .box div {
    margin: 20px 0 0 10px;
}

.content-box-con-bd ul li .box .categoryname {
    font-size: 18px;
}

.content-box-con-bd ul li .box .details {
    margin-top: 40px;
}

.content-box-con-bd ul .img1 {
    background: url("img/17-image-bg01.png") no-repeat center center;
}

.content-box-con-bd ul .img2 {
    background: url("img/17-image-bg02.png") no-repeat center center;
}

.content-box-con-bd ul .img3 {
    background: url("img/17-image-bg03.png") no-repeat center center;
}

.content-box-con-bd ul .img4 {
    background: url("img/17-image-bg04.png") no-repeat center center;
}

.content-box-con-bd ul .img5 {
    background: url("img/17-image-bg05.png") no-repeat center center;
}

.content-box-con-bd ul .img6 {
    background: url("img/17-image-bg06.png") no-repeat center center;
}

.content-box-con-bd ul .img7 {
    background: url("img/17-image-bg07.png") no-repeat center center;
}

.content-box-con-bd ul .img8 {
    background: url("img/17-image-bg08.png") no-repeat center center;
}

.content-box-con-ft {
    width: 96.5%;
    margin: 0 auto 20px auto;
    background: #fff;
}

.content-box-con-ft ul li {
    height: 40px;
    height: 100%;
    line-height: 40px;
    display: block;
    float: left;
    text-indent: 1em;
    font-weight: 500;
    color: #fff;
}

.content-box-con-ft .money1 {
    width: 52%;
    background: #ff5757;
}

.content-box-con-ft .money2 {
    position: relative;
    width: 26%;
    background: #ffc25b;
}

.content-box-con-ft .money2:after {
    /*箭头*/
    border: 5px solid transparent;
    border-left: 5px solid #ffc25b;
    width: 0;
    height: 0;
    position: absolute;
    right: -10px;
    top: 16px;
    content: '';
}

.content-box-con-ft .money3 {
    width: 22%;
    background: #dbdbdb;
    color: #111;
}

.content-box-con-ft .money3 span {
    color: #f00;
}

.content-box-ft .option {
    text-align: center;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

.content-box-ft .option .radio, .content-box-ft .option .control-radio {
    margin-left: 20px;
    margin-right: 5px;
}

.content-box-ft .confirm {
    text-align: center;
}

.content-box-ft .confirm .button {
    width: 170px;
    height: 40px;
    margin-bottom: 25px;
}

.reason-box {
}

.reason-box .reason-hd {
    width: 90%;
    margin: 0 auto;
}

.reason-box .reason-bd .textarea {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: block;

}

/*------------------17对账单2内容结束----------------*/

/*------------------18打印-账单详情内容开始----------------*/
.logo1 {
/*    background: url("img/01_image_logo03.png") no-repeat center center;*/
    font-size: 30px;
    color: #666;
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
}

.table7 .tt {
    padding: 5px;
    line-height: 50px;
    width: 96%;
    margin: 0 auto;
    position: relative;
}

.table7 .table-title .row div span {
    font-weight: 100;
}

.table7 .tt .subtitle {
    line-height: 20px;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.tt .logo1 {
    position: absolute;
    left: 0px;
    top: 10px;
}

.table7 .table-title .row ul li, .table6 .table-title .row ul li {
    float: left;
}

.table7 .table-title .row .detailslist span {
    margin-right: 20px;
}

.table7 .table-title .row .left, .table7 .table-title .row .right {
    margin: 0;
}

.table7 .table-title .row .right span {
    margin-right: 10px;
}

.table7 .table-title .row .subdetails, .table7 .table-cont .row .subdetails {
    margin: 0 20px;
}

.table7 .table-title .row .margin, .table7 .table-cont .row .margin {
    margin: 5px 0 10px 20px;
}

.table7 .table-cont .row span {
    margin-right: 20px;
}

.table7 .col1 {
    width: 12.5%;
    text-align: left;
    text-indent: 2.5em;
}

.table7 .col2 {
    width: 11.5%;
}

.table7 .one .col2 {
    text-align: right;
}

.table7 .one .th .col2 {
    text-align: center;
}

.table7 .two .col2 {
    text-align: center;
}

.table7 .col3 {
    width: 11.5%;
}

.table7 .one .col3 {
    text-align: center;
}

.table7 .two .col3 {
    text-align: right;
}

.table7 .two .th .col3 {
    text-align: center;
}

.table7 .col4 {
    width: 10.5%;
    text-align: right;
}

.table7 .col5 {
    width: 9%;
}

.table7 .one .col5 {
    text-align: right;
}

.table7 .one .th .col5 {
    text-align: center;
}

.table7 .two .col5 {
    text-align: center;
}

.table7 .col6 {
    width: 7.5%;
}

.table7 .one .col6 {
    text-align: left;
}

.table7 .one .th .col6 {
    text-align: center;
}

.table7 .two .col6 {
    text-align: center;
}

.table7 .table-cont .col7 {
    width: 11%;
    text-align: right;
}

.table7 .table-cont .th .col7 {
    text-align: center;
}

.table7 .table-cont .col8 {
    width: 9.8%;
    text-align: right;
}

.table7 .table-cont .th .col8 {
    text-align: center;
}

.table7 .col9 {
    width: 16%;
    text-align: center;
}

.table7 .th td {
    text-align: center;
    text-indent: 0;
}

/*------------------18打印-账单详情内容结束----------------*/
/*------------------19打印-收据内容开始----------------*/
.table6 .tt .logo1 {
    left: 20px;
}

.table6 .col1 {
    width: 12.4%;
    text-align: left;
    text-indent: 2em;
}

.table6 .col2 {
    width: 23%;
    text-align: center;
}

.table6 .col3 {
    width: 13.4%;
    text-align: right;
}

.table6 .th .col3 {
    text-align: center;
}

.table6 .col4 {
    width: 13.4%;
}

.table6 .one .col4 {
    text-align: center;
}

.table6 .two .col4 {
    text-align: right;
}

.table6 .two .th .col4 {
    text-align: center;
}

.table6 .col5 {
    width: 13.4%;
    text-align: center;
}

.table6 .one .col5 {
    text-align: right;
}

.table6 .one .th .col5 {
    text-align: center;
}

.table6 .col6 {
    width: 11%;
    text-align: left;
}

.table6 .two .col6 {
    text-align: center;
}

.table6 .two .col7 {
    width: 13.4%;
    text-align: right;
}

.table6 .two .th .col7 {
    text-align: center;
}

.tt .receipt-title {
    height: 85px;
    line-height: 85px;
}

.tt .receipt-title .number {
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 18px;
}

.table6 table .th td {
    text-align: center;
    text-indent: 0;
}

.table6 .table-title .row .margin {
    margin: 20px 0 50px 20px;
}

.table6 .table-cont .row .margin {
    _height: 25px;
    margin: 5px 0 10px 0px;
}

.table6 .row .subdetails ul li {
    width: 24%;
    float: left;
    margin: 30px 0;
}

.table6 .table-cont {
    width: 90%;
    margin-left: 20px;
}

.table6 .table-cont .lable {
    height: 290px;
    width: 30px;
    font-size: 12px;
    color: #bababa;
    word-wrap: break-word;
    word-break: nomal;
    position: absolute;
    top: 150px;
    right: 10px;
    /*writing-mode: lr;
    writing-mode:lr-tb;*//*lr-tb或writing-mode:tb-rl*/
}

.table6 .table-cont .lable .lable-cont {
    width: 14px;
    float: right;
}

.table6 .table-cont .lable .lable-box {
    margin-top: 50%;
}

.table6 .table-cont .lable .lable-box .lable-cont {
    margin-top: -50%;
}

.table6 .table-cont .lable .lable-box .two {
    margin-top: 0;
}

.table6 .table-title .row .subdetails span {
    margin-right: 20px;
}

.page-list .pagination {
    float: left;
}

.page-list .pagination span {
    cursor: pointer;
}

.page-list .pagination .separate span {
    cursor: default;
    border-top: none;
    border-bottom: none;
}

.page-list .pagination .separate span:hover {
    background: none;
}

.page-list .page-total {
    float: left;
    margin: 25px 20px;
}

.page-list .page-total input, .page-list .page-total select {
    height: 26px;
    border: 1px solid #ddd;
}

.page-list .page-total input {
    width: 40px;
    padding-left: 3px;
}

.page-list .page-total select {
    width: 50px;
}

/*------------------19打印-收据内容结束----------------*/
/**-----------------DZW-JS-PAGE-------------------------*/

.page-list .pagination {
    float: left;
}

.page-list .pagination span {
    cursor: pointer;
}

.page-list .pagination .separate span {
    cursor: default;
    border-top: none;
    border-bottom: none;
}

.page-list .pagination .separate span:hover {
    background: none;
}

.page-list .page-total {
    float: left;
    margin: 25px 20px;
}

.page-list .page-total input, .page-list .page-total select {
    height: 26px;
    border: 1px solid #ddd;
}

.page-list .page-total input {
    width: 40px;
    padding-left: 3px;
}

.page-list .page-total select {
    width: 50px;
}

/**-----------------DZW-JS-PAGE-------------------------*/

