/******************************
* @Authors:penyu              *
* @System:webapp              *
* @Version:v1.0.0             *
* @update:2015-10-16 18:04:17 *
*******************************/

* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -webkit-user-select: text;
  -webkit-appearance: none;
  font-size: 26px;
  color: #222;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#page {
  width: 640px;
  margin: 0 auto;
}
#page #header {
  height: 160px;
  background: url("img/bs_bg-hd.png") center center no-repeat;
  overflow: hidden;
  position: relative;
}
#page #header .nav {
  width: 100%;
  height: 60px;
  line-height: 1.5;
  font-size: 60px;
  text-align: center;
  margin-top: 35px;
  color: #fff;
}
#page #section .section-body {
  width: 596px;
  margin: 0 auto;
  padding-bottom: 40px;
}
#page #section .box-hd {
  margin-top: 20px;
  margin-bottom: 10px;
}
#page #section .body-title {
  background: url("img/bs_bg-01.png") center center no-repeat;
  height: 65px;
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  color: #fff;
  margin: 30px auto 20px;
}
#page #section .box-bd {
  text-indent: 2em;
}
#page #section .conter-img-box {
  width: 100%;
  margin: 10px auto 0;
}
#page #section .conter-img-box .img-item {
  width: 100%;
  margin: 10px auto 0;
  text-align: center;
}
#page #section .conter-img-box img {
  margin: 0 auto;
  display: inline-block;
}

.body-table {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #c8c7cc;
  margin-top: 20px;
}
.body-table .table-box {
  padding: 10px 30px;
}
.body-table .table-box table {
  width: 100%;
}
.body-table .table-box table tr {
  width: 100%;
}
.body-table .table-box table tr td {
  width: 50%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.body-table .table-box table tr .fold {
  font-weight: bold;
}
.body-table .table-box table tr .lowest-icon {
  width: 100%;
  height: 100%;
  background: url("img/bs_bg-02.png") center center no-repeat;
  display: block;
  color: #fff;
  line-height: 45px;
}


/*----------   2015-10-16 18:04:17   ----------*/