/******************************
* @Authors:penyu              *
* @System:webapp              *
* @Version:v1.0.0             *
* @update:2015-10-16 18:04:17 *
*******************************/

@charset "UTF-8";
/*------------------------------全局默认样式开始----------------------------------*/
html, body {
  height: 100%;
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  -webkit-appearance: none;
  font: 12px/1.5 "微软雅黑","黑体",tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;
  color: #333333;
}

_body {
  /*IE下position: absolute;抖动问题*/
  background-image: url(about:blank);
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #333333;
}

/*a:hover{text-decoration:underline;}*/
li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -webkit-user-select: text;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tab-nav-box:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

/*------------------------------全局默认样式结束----------------------------------*/
/*---------------------全局开始-------------------------*/
#page {
  width: 640px;
  overflow: hidden;
  margin: 0 auto;
}

.radius2 {
  /*圆角2*/
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.radius3 {
  /*圆角3*/
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.radius5 {
  /*圆角5*/
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.radius6 {
  /*圆角6*/
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.radius8 {
  /*圆角8*/
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.radius10 {
  /*圆角10*/
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.radius16 {
  /*圆角16*/
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}

.alpha10 {
  /*透明10*/
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=10);
  filter: alpha(opacity=10);
  opacity: 0.1;
}

.alpha30 {
  /*透明30*/
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=30);
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.alpha60 {
  /*透明60*/
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=60);
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.separator {
  /*分隔线*/
  border-left: 1px solid #d7d7d7;
  /*border-right: 1px solid #fff;*/
  display: inline-block;
  margin: 4px 3px;
  overflow: hidden;
  padding: 0;
  width: 0px;
  float: left;
  height: 16px;
}

.red {
  color: #f00;
}

.blue {
  color: #0d7aff;
}

.green {
  color: #00bc20;
}

.login-body .layout {
  width: 100%;
}

.search-box:after, .filter-box:after, .item-bd:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*表单控件开始-----------------------------*/
.input {
  height: 72px;
  width: 100%;
  background: #fff;
  border: none;
  font-size: 28px;
  text-indent: 0.5em;
  color: #222;
}

.button {
  height: 72px;
  width: 100%;
  background: #eb413d;
  border: none;
  font-size: 28px;
  color: #fff;
}

/*页面-----------------------------------------*/
.down-page, .reg-page {
  width: 640px;
  height: 1136px;
  resize: none;
  position: relative;
  margin: 0 auto;
}

.down-page-bg, .reg-page-bg {
  width: 100%;
  height: 100%;
  display: block;
}

.page-box {
  width: 640px;
  display: block;
  margin: 0 auto;
}

/*---------------------全局结束-------------------------*/
/*----------------------------------下载页面开始-------------------------------*/
.down-page-bg {
  background: url("img/down-bg.png") #fff no-repeat center 0;
  background-size: cover;
}

.down-btn-box {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.down-btn-box .row {
  height: 80px;
}

.down-btn-box .row1 {
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: #767575;
}

.down-btn-box .left, .down-btn-box .right {
  width: 45%;
}

.down-btn-box .apple-btn, .down-btn-box .android-btn {
  /*background: #759df1;*/
  border-radius: 13px;
  height: 80px;
  width: 200px;
  display: block;
  font-size: 26px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  text-indent: 45px;
  background: url("img/icon-01.png") no-repeat 30px 20px #eb413d;
  float: right;
}

.down-btn-box .android-btn {
  background-position: 30px -115px;
  float: left;
}

.down-btn-box a {
  width: 100%;
  height: 100%;
  color: #fff;
  display: block;
  text-decoration: none;
}

/*----------------------------------下载页面结束-------------------------------*/
/*----------------------------------注册页面开始-------------------------------*/
.reg-page-bg {
  background: url("img/reg-bg.png") #f0cb92 no-repeat center bottom;
  background-size: cover;
  position: relative;
}

.reg-cont {
  width: 100%;
  position: absolute;
  /*top: 43%;*/
  bottom: 18%;
}

.list-box {
  width: 85%;
  margin: 0 auto;
}

.list-box .list-item {
  width: 100%;
  margin: 5% auto 0;
  font-size: 28px;
  position: relative;
}

.list-box .list-item .input {
  height: 72px;
  width: 100%;
  margin: 0 auto;
}

.list-box .list-item .code-btn {
  position: absolute;
  right: 20px;
  color: #f88c29;
  top: 15px;
}

.list-box .list-item .code-btn .span {
  width: 100%;
  height: 100%;
  color: #f88c29;
  text-decoration: none;
  cursor: pointer;
}

.list-box .list-item .code-btn .disable {
  color: #8e8e93;
}

/*.list-box .list-item .code-btn .span{
	position: relative;
	top:-20px;
}*/
.list-box .list-item .button {
  background: #f88c29;
  height: 72px;
  width: 100%;
  margin: 2% auto 0;
}

.list-box .list-item .row {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.list-box .list-item .row a {
  color: #ffd800;
  text-decoration: none;
}

.reg-ft {
  position: absolute;
  bottom: 1%;
  text-align: center;
  color: #767575;
  font-size: 28px;
  width: 100%;
}

.reg-ft .row a {
  color: #f88c29;
  text-decoration: none;
}

/*----------------------------------注册页面开始-------------------------------*/
/*----------------------------------众筹页面开始--------------------------------*/
.content-bd {
  min-height: 776px;
}

.content-bd .spancont {
  line-height: 40px;
  font-size: 26px;
  font-weight: 100;
  color: #767575;
}

.content-bd .itemcont {
  font-weight: 100;
  background: #f4f4f4;
  padding: 10px 20px 15px 20px;
  font-size: 26px;
}

.content-bd .itemcont #promotion-bd {
  position: relative;
  overflow: hidden;
}

.content-bd .itemcont #promotionContent {
  font-size: 26px;
  text-indent: 2em;
  line-height: 40px;
  word-break: break-all;
}

.content-bd .itemcont .describe {
  max-height: 120px;
}

.content-bd .itemcont .expand {
  max-height: 120px;
}

.more {
  background: #f4f4f4;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #4b89d2;
  display: none;
}

.expand .more {
  display: block;
}

.content-bd .itemcont .more .dot {
  text-indent: 0;
  color: #767575;
  cursor: pointer;
}

.content-bd .date-item {
  background: #f4f4f4;
  margin: 0;
  text-indent: 1em;
}

.head-back {
  position: absolute;
  top: 40px;
  left: 3%;
  background: url("img/back.png") no-repeat center center;
  width: 22px;
  height: 88px;
}

.head-back a {
  width: 100%;
  height: 100%;
  display: block;
}

.head-banner {
  width: 100%;
}

.head-banner .item-img {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 360px;
}

.head-banner .item-img img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-content {
  width: 100%;
  margin: 0 auto;
}

.date-box {
  width: 100%;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  white-space: nowrap;
}

.date-box .span {
  -webkit-appearance: none;
  font-weight: bold;
}

.span-box {
  -webkit-appearance: none;
  text-align: center;
  /*	width: 60px;*/
  display: inline-block;
  border: 1px solid #cfcfcf;
  padding: 5px 15px;
  color: #767575;
  box-shadow: 0 1px 1px 0 #ccc inset;
}

.h2 {
  color: #222;
  font-weight: bold;
  font-size: 26px;
  margin-top: 13px;
  text-align: center;
}

.h2-1 {
  color: #222;
  font-weight: bold;
  font-size: 26px;
  margin-top: 13px;
}

.h3 {
  color: #222;
  font-weight: bold;
  font-size: 30px;
  margin-top: 13px;
}

.h4 {
  color: #767575;
  font-weight: bold;
  font-size: 30px;
  margin-top: 13px;
}

.h5 {
  color: #767575;
  font-size: 22px;
  margin-top: 13px;
}

.hr {
  margin: 30px 0;
}

.box-br {
  margin-top: 13px;
  border: 2px solid #ebebeb;
}

.item .item-bd .item-table {
  margin-top: 15px;
}

.item .item-bd .item-table table {
  width: 90%;
  text-align: center;
  font-size: 24px;
  color: #767575666;
  line-height: 40px;
  border: none;
  vertical-align: middle;
  margin: 0 auto;
}

.item-table table .col1 {
  width: 30%;
}

.item-table table .col2 {
  width: 27%;
}

.item-table table .col3 {
  width: 20%;
}

.item-table table .col4 {
  width: 16%;
}

.item-table table .col5 {
  width: 7%;
}

.item-table .lock, .item-table .unlock {
  display: inline-block;
  background: url("img/lock-icon-01.png") no-repeat center -78px;
  width: 28px;
  height: 40px;
}

.item-table .unlock {
  background-position: center 5px;
}

.item .item-bd .list-item {
  width: 100%;
  margin: 0 auto 4%;
}

.list-item .item-img {
  float: left;
  margin-left: 4%;
  margin-top: 4%;
  width: 43.9%;
}

.content-bd .item-title {
  text-indent: 1em;
}

.list-item .item-img img {
  width: 100%;
  border: solid 1px #ebebeb;
}

.tab-box {
  width: 100%;
  margin-top: 0px;
}

.tab-box .tab-nav-box {
  width: 100%;
  text-align: center;
}

.tab-nav-box .tab-nav {
  width: 50%;
  float: left;
  height: 72px;
  line-height: 72px;
  display: block;
  text-align: center;
}

.tab-nav-box .tab-nav .nav-bd {
  border: 2px #ebebeb solid;
  background: #f4f4f4;
  border-bottom: none;
  height: 98%;
  display: block;
  -o-border-radius: 16px 16px 0 0;
  -ms-border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
  font-size: 24px;
}

.tab-nav-box .tab-nav2 {
  float: right;
}

.tab-nav-box .tab-nav .span {
  -webkit-appearance: none;
  width: 100%;
  height: 101%;
  display: block;
  -o-border-radius: 16px 16px 0 0;
  -ms-border-radius: 16px 16px 0 0;
  -moz-border-radius: 16px 16px 0 0;
  -webkit-border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
}

.tab-nav-box .active .span {
  -webkit-appearance: none;
  background: #fff;
  height: 120%;
}

.tab-box .list-tab {
  min-height: 200px;
  font-size: 22px;
  overflow: hidden;
  /*	border: 2px #ebebeb solid;*/
  min-height: 200%;
  background: #f4f4f4;
  padding: 0 20px 20px 20px;
  /*	-o-border-radius:0 0 16px 16px;
  	-ms-border-radius:0 0 16px 16px;
  	-moz-border-radius:0 0 16px 16px;
      -webkit-border-radius:0 0 16px 16px;*/
  /*    border-radius:0 0 16px 16px;*/
}

.content-bd .icon {
  border-left: 4px solid #eb413d;
  border-top: 1px solid #eee;
  text-indent: 1em;
  padding: 5px 0;
  margin: 0;
}

.tab-box .list-tab li {
  font-size: 26px;
  line-height: 40px;
  margin-top: 10px;
  color: #767575;
  font-weight: 100;
}

.tab-cont .table1 {
  width: 100%;
}

.tab-cont .row {
  margin: 15px auto;
}

.tab-cont .table1 td {
  padding: 5px;
  vertical-align: top;
}

.tab-cont .table1 .col1 {
  width: 25%;
  text-align: center;
}

.tab-cont .table1 .col2 {
  width: 75%;
}

.tab-cont .table1 .col2 ul li {
  padding: 5px 0px;
}

.tab-cont .table2 {
  width: 100%;
}

.tab-cont .table2 td {
  padding: 5px;
  vertical-align: top;
  text-align: center;
}

.tab-cont .table2 .col1 {
  width: 20%;
}

.tab-cont .table2 .col2 {
  width: 50%;
  text-indent: 10px;
}

.tab-cont .table2 .col2 .txtoverflow {
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-cont .table2 .col3 {
  width: 30%;
}

.table2 .th {
  font-size: 22px;
  font-weight: bold;
}

.page-footer {
  width: 100%;
}

.footer-cont {
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  position: relative;
}

/*----------------------------------众筹页面结束--------------------------------*/
/*----------------------------------缴费赢奖励页面结束--------------------------------*/
.award-cont .item-bd {
  position: relative;
}

.award-cont .h3 {
  color: #ffa200;
}

.award-cont .h3 .date {
  color: #767575;
  font-size: 24px;
  font-weight: 100;
}

.item-bd .item-bd-txt {
  width: 380px;
}

.award-cont .img {
  padding: 20px;
  width: 150px;
}

.award-cont .img img {
  width: 100%;
  border: 2px;
}

.award-cont .remain {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.award-cont .remain > span {
  margin: 0 5px;
  font-size: 36px;
  -webkit-appearance: none;
}

.award-cont .item .button {
  width: 100%;
  height: 72px;
  font-size: 32px;
  line-height: 72px;
  margin-top: 20px;
  background: #f88c29;
}

/*----------------------------------缴费赢奖励页面开始--------------------------------*/
.integral-icon {
  padding-left: 25px;
  background: url("img/integral-icon.png") no-repeat left center;
  color: #fa5832;
}

.integral-txt {
  color: #fa5832;
}

.share-bd {
  padding: 0 20px;
}

.content-bd .button {
  margin-top: 20px;
}

.content-bd .item-img1 {
  width: 100%;
  margin: 0 auto;
}

.content-bd .item-img img {
  width: 100%;
}

.share-box {
  margin-top: 30px;
}

#ui-ios {
  padding: 5px;
  line-height: 24px;
  position: relative;
  left: 50%;
  float: left;
  display: none;
}

#ui-ios .iso-br {
  padding: 0px 5px;
  margin: 0;
  float: left;
  position: relative;
  left: -55%;
  color: #767575;
  font-size: 20px;
}

/*---------------------------------注册成功跳转页开始-----------------------------*/
#downpage {
  width: 100%;
  height: 100%;
}

.success-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.success-box .img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.success-box .slide-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.success-box .slide-item {
  z-index: 3;
}

.img-box .down-hd-box {
  background: #eeb34d;
  height: 75%;
}

.img-box .down-bd-box {
  background: #ff9939;
  height: 25%;
}

.item-img-01 .down-hd-box {
  background: #43cb82;
}

.item-img-01 .down-bd-box {
  background: #2bad67;
}

.item-img-02 .down-hd-box {
  background: #6eb7de;
}

.item-img-02 .down-bd-box {
  background: #5896cc;
}

.download {
  display: inline-block;
  text-decoration: none;
}

.button-box {
  position: absolute;
  bottom: 9%;
  text-align: center;
  width: 100%;
}

.button-box .button {
  width: 30%;
  height: 6%;
  background: none;
  border: 1px solid #fff;
  font-size: 30px;
  font-weight: 100;
}

.button-box .ks-down {
  background: #ffffff;
  color: #222;
}

.down-icon {
  background: url("img/down_icon.png") center center no-repeat;
  width: 22px;
  height: 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  -webkit-animation: back1 1s ease-out infinite;
  animation: back1 1s ease-out infinite;
}

.slide-item .main {
  width: 90%;
  height: 82%;
  /*background: #f00;*/
  display: block;
  position: absolute;
  bottom: 0px;
  left: 5%;
}

.main .main-header {
  height: 11%;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 100%;
}

.main .main-header img {
  height: 100%;
  display: inline-block;
}

.main .main-section {
  position: absolute;
  top: 18%;
  width: 100%;
  /*width: 70%;*/
  height: 61%;
  display: block;
  text-align: center;
}

.item-img-02 .main .main-section {
  position: absolute;
  top: 30%;
  width: 100%;
  /*width: 70%;*/
  height: 47%;
  display: block;
  text-align: center;
}

.main .main-section img {
  height: 100%;
  margin: 0 auto;
  display: inline-block;
}

@-webkit-keyframes back1 {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0px, -50px, 0px);
    opacity: 0;
  }
}
@keyframes back1 {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0px, -50px, 0px);
    opacity: 0;
  }
}
/*---------------------------------注册成功跳转页结束-----------------------------*/
/*---------------------------------注册服务条款页开始-----------------------------*/
.regprotocol {
  width: 596px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.regprotocol * {
  font: 26px/36px "黑体";
  color: #666;
}
.regprotocol .rtotocol-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #222;
}
.regprotocol .rtotocol-content {
  text-indent: 2em;
  margin-top: 20px;
  padding-bottom: 20px;
}
.regprotocol .s-1 {
  color: #222;
  font-weight: bold;
  margin-top: 20px;
}
.regprotocol .sub-list li {
  padding: 20px 0px;
}
.regprotocol .sub-list .sub-list-box {
  padding-top: 0;
  margin-top: -20px;
}
.regprotocol .sub-list-list li {
  padding: 0;
}

/*---------------------------------注册服务条款页结束-----------------------------*/


/*----------   2015-10-16 18:04:17   ----------*/