<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- <!– QQ强制竖屏 –> -->
	<meta name="x5-orientation" content="portrait">
	<!-- <!– UC强制全屏 –> -->
	<meta name="full-screen" content="yes">
	<!-- <!– QQ强制全屏 –> -->
	<meta name="x5-fullscreen" content="true">
	<meta name="msapplication-tap-highlight" content="no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
	<title>积分规则</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- <link href="css/DefaultSkin.css" rel="stylesheet" /> -->
	<link href="css/control.css" rel="stylesheet">
	<link href="css/page.css" rel="stylesheet">
	<script type="text/javascript" src="js/viewport.js?v=69601e31"></script>
	<script type="text/javascript" src="../js/jquery/jquery-1.11.3.min.js?v=84e532cc"></script>
	<script type="text/javascript" src="../js/comm/public-obj.js?v=a8d62b97"></script>
	<script type="text/javascript" src="../js/comm/switch.js?v=e5b2eb9e"></script>
	<script type="text/javascript" src="../js/comm/initial.js?v=72abda29"></script>
	<script type="text/javascript" src="js/ctrl-share.js?v=ef8c16ad"></script>
<!-- 	// 
 //    
 //    
 //    <script type="text/javascript" src="js/slide.js"></script>
 //     -->
</head>
<body>
	<div id="page">
		<div class="page-box share-box">
			<!-- <div class="page-head">
				<div class="head-banner">
					<div class="item-img"><img src="../img/banner/banner1.png" alt=""></div>
				</div>
			</div> -->
			<div class="page-content">
				<!-- <div class="content-hd">
					<div class="date-box">
						<span class="span">还剩</span>
						<span class="span-box radius8">15</span>
						<span class="span">天</span>
						<span class="span-box radius8">16</span>
						<span class="span">时</span>
						<span class="span-box radius8">45</span>
						<span class="span">分</span>
						<span class="span-box radius8">53</span>
						<span class="span">秒</span>
					</div>
				</div> -->
				<div class="content-bd share-bd">
					<div class="item h2-1">任务介绍</div>
					<div id="share"></div>
					<!-- <div class="item h5"><span>积分奖励：</span><span class="{{award.class}}" ng-bind="award.unit">+5</span></div>
					<div class="item h5"><span>任务规则：</span><span ng-bind="award.range">前10次回复成功后给予奖励</span></div> -->
					<div class="item h5"><span>任务要求：</span><span class="integral-txt">登录后完成任务才能获得积分</span></div>
					<hr class="hr">
					<div class="item h2-1">任务说明</div>
					<!-- <div ng-repeat="(k, v) in award.explain">
						<div class="item h5"><span ng-bind="v">1、缴费成功之后点击分享按钮或者进入好友邀请页面</span></div>
					</div> -->
					<div id="subexplain"></div>
					<!-- <subexplain003 ng-if="award.code==003"></subexplain003>
					<subexplain004 ng-if="award.code==004"></subexplain004>
					<subexplain005 ng-if="award.code==005"></subexplain005>
					<subexplain006 ng-if="award.code==006"></subexplain006>
					<subexplain007 ng-if="award.code==007"></subexplain007> -->
					<!-- <div class="item h5"><span>1、缴费成功之后点击分享按钮或者进入好友邀请页面</span></div>
					<div class="item">
						<div><input type="button" class="button radius8" value="立即参与"></div>
					</div>
					<div class="item h5"><span>2、点击评论输入框（消息的最下方）</span></div>
					<div class="item h5">
						<div class="item-img item-img1">
							<img src="img/abc.png" alt="">
						</div>
					</div>
					<div class="item h5"><span>3、输入你想发表的评论</span></div>
					<div class="item h5"><span>4、输入完成后，点击确认，发表成功即可获得奖励</span></div>
					<div class="item h5"><span>5、积分奖励按次发放，每日获得的分数有上限</span></div> -->
					<!-- <div class="item"></div>
					<div class="item"></div> -->
				</div>
			</div>
			<div class="page-footer">
				<div class="footer-cont"></div>
			</div>
		</div>
    </div>
</body>
</html>