<div style="display: block;" class="tempcharge" ng-controller="goldProPayCtrl">
    <!-- 业主房屋信息 -->
    <houseinfo houseInfo="houseInfo"></houseinfo>

    <div class="content-box-con">
        <div class="content-box-label"><span>履约金收取</span></div>
        <form action="">
            <div class="content-box-form">
                <ul>
                    <li>
                        <div class="left">费项名称：</div>
                        <div class="right">
                            <div class="control-css3select">
                                <select class="radius3 JsW" data-ctrlmutual-type="selectswap" ng-model="chargeNo"
                                        ng-change="showPrice()"
                                        ng-options="charge.key as charge.value for charge in chargeList">
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="ks-swap">
                            <li>
                                <div class="left">计费方式：</div>
                                <div class="right">
                                    <div class="control-css3select">
                                        <select ng-model="chargeWar" class="radius3 JsW" ng-change="peopleNum='0';chargeAmount='0';uintPrice='0'"
                                                data-ctrlmutual-type="selectswap"
                                                data-ctrlmutual-config="{'content':{'1':'ks-swap-cont1 ks-cont-box1','2':'ks-swap-cont2 ks-cont-box2','3':'ks-swap-cont1 ks-cont-box2'}}"
                                                ng-options="cw.key as cw.value for cw in sysdictData.chargeWar"
                                                >
                                        </select>
                                    </div>
                                </div>
                            </li>


                            <li class="ks-swap-cont2" ng-show="chargeWar==2">
                                <div class="left">人数：</div>
                                <div class="right"><input class="radius3" type="number" ng-model="peopleNum" ng-change="calculate()"></div>
                            </li>

                            <li class="ks-cont-box1" ng-show="chargeWar==1">
                                <div class="left">收费金额：</div>
                                <div class="right"><input class="radius3" type="number" ng-model="chargeAmount" ng-change="calculate()"></div>
                            </li>
                            <li class="ks-cont-box2" ng-show="chargeWar==3||chargeWar==2">
                                <div class="left">计费单价：</div>
                                <div class="right"><input class="radius3" type="text" ng-model="uintPrice" ng-change="calculate()"></div>
                            </li>
                            <li class="ks-swap-cont1">
                                <ul>
                                    <li>
                                        <ul class="ks-swap">
                                            <li>
                                                <div class="left">支付方式：</div>
                                                <div class="right">
                                                    <div class="control-css3select">
                                                        <select data-ctrlmutual-type="selectswap" ng-model="paymentType"
                                                                class="radius3" 
                                                                ng-options="payType.key as payType.value for payType in sysdictData.paymentType">
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="left">收费金额：</div>
                                                <div class="right red">￥{{chargeAmount|number:2}}</div>
                                            </li>
                                            <li class="cash" ng-show="paymentType=='01'">
                                                <div class="left">实收：</div>
                                                <div class="right"><input class="radius3" type="number"
                                                                          ng-change="getChangeMoney()" ng-model="cashMoney"></div>
                                            </li>
                                            <li class="cash" ng-show="paymentType=='01'">
                                                <div class="left">找零：</div>
                                                <div class="right red">￥{{changeMoney|number:2}}</div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="confirm redbutton control-button">
                <input value="确认收费" type="button" class="radius3 button JsW" data-control-type="button" ng-click="applyPay()">
            </div>
        </form>
    </div>
</div>