<div style="display: block;" class="tempcharge" ng-controller="goldProReturnCtrl">

    <div class="content-box-con">
        <div class="content-box-label"><span>履约金返还</span></div>
        <form method="post">
            <div class="content-box-form">
                <ul>
                    <li>
                        <div class="left">费项名称：</div>
                        <div class="right" ng-bind="formance.chargeNo|filter_chargeNo"></div>
                    </li>
                    <li>
                        <div class="left">计费方式：</div>
                        <div class="right" ng-bind="formance.chargeType|filter_chargeType"></div>
                    </li>
                    <li>
                        <div class="left">履约金金额：</div>
                        <div class="right red" ng-bind="'￥'+(formance.formanceAmount|number:2)"></div>
                    </li>

                    <li>
                        <div class="left">验收结果：</div>
                        <div class="right">
                            <div class="control-css3select">
                                <select class="radius3">
                                    <option selected="" value="验收通过，返还全部">验收通过，返还全部</option>
                                    <option value="部件损坏，扣除部分">部件损坏，扣除部分</option>
                                    <option value="严重损坏，扣除全部">严重损坏，扣除全部</option>
                                </select>

                            </div>
                        </div>
                    </li>
                    <li class="remarks">
                        <div class="left">备注：</div>
                        <div class="right">
                            <textarea ng-model="remark"></textarea>
                        </div>
                    </li>
                    <li>
                        <div class="left">返还金额：</div>
                        <div class="right red" ng-bind="'￥'+(returnAmount|number:2)"></div>
                    </li>

                    <li>
                        <div class="left">
                            抵充物业费
                        </div>
                        <div class="right">
                                <!--<input type="checkbox" ng-model="saa"  ng-change="showAllArreas()">-->
                            <input type="button"  class="button" ng-click="showAllArreas()" value="选择抵充物业费"/>
                        </div>
                    </li>
                    <li  ng-show="saa && offsetAmount>0">
                        <div class="left">
                            抵充金额
                        </div>
                        <div class="right" ng-bind="'￥'+(offsetAmount|number:2)">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="confirm redbutton control-button">
                <input value="确认收费" type="submit" class="radius3 button" button ng-click="applyPay()">
            </div>
        </form>
    </div>

    <div class="modal-box" id="ks-pop-box">
        <div class="bg alpha60"></div>
        <div class="pop-box" style="overflow-y: auto;height: 400px;width: 800px;left:200px">
            <div class="pop-box-hd">选择抵充费项<i ng-click="hideAllArreas()">X</i></div>
            <div class="pop-box-bd ks-inputall">
                <div class="table-title">
                    <div class="row th">
                        <table class="leftchbox">
                            <tr class="th">
                                <td class="col1"><span>
																    		<div class="JsW control-checkbox"
                                                                                 checkboxall
                                                                                 data-control-config="{'inputCls':'ks-input','wait':true,'inputAll':'ks-no'}">
                                                                                <input type="checkbox">
                                                                            </div>
																    	 	全选　　</span><span>收费项目</span>
                                </td>
                                <td class="col2">应收费用</td>
                                <td class="col5">
                                    <div class="JsW control-checkbox"
                                         checkboxall
                                         data-control-config="{'inputCls':'ks-zlj','wait':true,'inputAll':'ks-zlj1'}">
                                        <input type="checkbox">
                                    </div>
                                    是否包含滞纳金
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="table-cont">
                    <div class="ks-inputall" ng-repeat="arrea in arreaList"
                         accordion
                         data-widget-config="{'navCls':'ks-nav-row','contentCls':'ks-cont-row','autoplay':false,'forTouch':true,'activeIndex':-2,'multiple':true,'activeCls':'nav-row-btn'}"
                            >
                        <div class="row th ks-nav-row ks-active">
                            <div class="control-checkbox ks-no" checkboxall data-control-config="{'inputCls':'ks-input','wait':true,'inputAll':'ks-no'}">
                                <input type="checkbox">
                            </div>
                            <span ng-bind="'账单月份：'+(arrea.billDate|filter_Date_Month)"></span>
                            <div class="nav-row-btn right"></div>
                        </div>
                        <div class="row ks-cont-row">
                            <table class="leftchbox">
                                <tr ng-repeat="detail in arrea.detailList track by $index">
                                    <td class="col1">
                                        <div class="JsW control-checkbox" checkbox>
                                            <input class="ks-input" type="checkbox" ng-click="check(detail,bck,0,arrea.billNo)" ng-model="bck">
                                        </div>
                                        <span ng-bind="detail.chargeNo|filter_chargeNo"></span>
                                    </td>
                                    <td class="col2">￥{{detail.paidAmount|number:2}}</td>
                                    <td class="col5">
                                        <div class="control-checkbox" checkbox>
                                            <input class="ks-zlj" type="checkbox" ng-click="check(detail,pck,1,arrea.billNo)" ng-model="pck">
                                        </div>
                                        ￥{{detail.penalty|number:2}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pop-box-ft">
                <div class="redbutton control-button JsW" data-control-type="button"
                     data-control-config="{'buttonCls':'button'}">
                    <input value="确认" type="button" class="radius5 button" ng-click="calculateBill()"/>
                </div>
            </div>
        </div>
    </div>

</div>