<div class="ks-switchable-content" ng-controller="listPayCostDetailCtrl" data-ng-init="getDetail()">
    <div>
        <div class="ownerinformation">
            <ul>
                <li><span>业主姓名：</span><span ng-bind="bill.ownerName"></span></li>
                <li><span>联系方式：</span><span ng-bind="bill.mobile"></span></li>
                <li><span>房号：</span><span ng-bind="bill.areaNo+bill.unitNo+'单元'+bill.rommNo"></span></li>
                <li class="print"><input type="button" value="打印账单" data-control-type="button"
                                         class="radius2 JsW button" ng-click="toPrint()"></li>
            </ul>
        </div>
        <div class="list-table">
            <div class="list-table-cont table2">
                <div class="table-title">
                    <div class="row tt" ng-bind="(bill.billDate | filter_Date_Month) +'物业账单'" >
                    </div>
                    <div class="row">
                        <div class="left">
                            <div class="details">
                            </div>
                        </div>
                        <div class="right  keypayment" ng-show="bill.billStatus==01"  popup
                             data-widget-config="{'contentId':true,'align':{'offset':[-250,-10]}}">
                            <div class="details keypayment">
                                <input type="button" value="收费" class="radius2 ks-pop-nav button" data-control-type="button"
                                       ng-click="callBSPayOnePay()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-cont">
                    <div class="row one">
                        <table>
                            <tr class="th">
                                <td class="col1"><span class="checkboxall" ng-show="bill.billStatus==01">
																      		<div class="JsW control-checkbox"
                                                                                 checkboxall>
                                                                                <input type="checkbox">
                                                                            </div>
																		    全选
																		</span>
                                    &nbsp;&nbsp;收费项目
                                </td>
                                <td class="col2">单价</td>
                                <td class="col3">数量</td>
                                <td class="col4">金额</td>
                                <td class="col5">滞纳金</td>
                                <td class="col5">缴纳时间</td>
                                <td class="col5">收费方式</td>
                                <td class="tablelayoutcol"></td>
                            </tr>
                            <tr class="th" ng-repeat="unRead in unReadList">
                                <td class="col1">
                                    <div class="control-checkbox" checkbox ng-show="bill.billStatus==01">
                                        <input type="checkbox"
                                               data-ng-click="checkRead(unRead)">
                                    </div>

                                    &nbsp;&nbsp;
                                    <div ng-bind="unRead.chargeNo|filter_chargeNo"></div>
                                </td>
                                <td class="col2" ng-bind="(unRead.unitPrice|number:2)"></td>
                                <td class="col3" ng-bind="(unRead.quantity|number:2)"></td>
                                <td class="col4" ng-bind="'￥'+(unRead.paymentAmount|number:2)"></td>
                                <td class="col5" ng-bind="'￥'+(unRead.penalty|number:2)"></td>
                                <td class="col5" ng-bind="unRead.paymentDate|filter_Date"></td>
                                <td class="col5" ng-bind="unRead.chargeWay|filter_chargeWar"></td>
                                <td class="tablelayoutcol"></td>
                            </tr>

                        </table>
                    </div>
                    <div class="row two mergeup">
                        <table>
                            <tr class="th">
                                <td class="col1">
                                    收费项目
                                </td>
                                <td class="col2">抄表时间</td>
                                <td class="col3">上次读数</td>
                                <td class="col4">本次读数</td>
                                <td class="col6">数量</td>
                                <td class="col5">单价</td>
                                <td class="col7">金额</td>
                                <td colspan="2" class="col8">滞纳金</td>
                                <td class="col10">缴纳时间</td>
                                <td class="col5">收费方式</td>
                                <td class="tablelayoutcol"></td>
                            </tr>
                            <tr ng-repeat="read in readList">
                                <td class="col1">
                                    <div class="control-checkbox" checkbox ng-show="bill.billStatus==01">
                                        <input type="checkbox"
                                               data-ng-click="checkRead(read)">
                                    </div>

                                    &nbsp;&nbsp;
                                    <div ng-bind="read.chargeNo|filter_chargeNo"></div>
                                </td>
                                <td class="col2" ng-bind="read.readDate|filter_Date"></td>
                                <td class="col3" ng-bind="read.lastReading"></td>
                                <td class="col4" ng-bind="read.thisReading"></td>
                                <td class="col5" ng-bind="read.quantity|number:2"></td>
                                <td class="col6" ng-bind="read.unitPrice|number:2"></td>
                                <td class="col7" ng-bind="'￥'+(read.paymentAmount|number:2)"></td>
                                <td colspan="2" class="col8" ng-bind="'￥'+(read.penalty|number:2)"></td>
                                <td class="col10" ng-bind="read.paymentDate|filter_Date"></td>
                                <td class="col5" ng-bind="read.chargeWay|filter_chargeWar"></td>
                                <td class="tablelayoutcol"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
</div>
