<div style="display: block;" class="tempcharge" ng-controller="nonProPayCtrl">

    <div class="content-box-con">
        <div class="content-box-label"><span>非业主临时收费</span></div>
        <form action="" ng-submit="applyPay()">
            <div class="content-box-form">
                <ul>
                    <li>
                        <ul class="ks-swap">
                            <li>
                                <div class="left">费项名称：</div>

                                        <div class="right">
                                            <div class="control-css3select">
                                                <select class="radius3 JsW" data-ctrlmutual-type="selectswap" ng-model="chargeNo"
                                                        ng-options="charge.key as charge.value for charge in chargeList">
                                                </select>
                                            </div>

                                </div>
                            </li>
                            <li class="ks-swap-cont1" ng-show="chargeNo=='C002'||chargeNo=='C010'">
                                <div class="left">车牌号：</div>
                                <div class="right"><input class="radius3" ng-model="licensePlate" type="text"></div>
                            </li>


                            <li class="ks-swap-cont2" style="display: none;">
                                <div class="left">自定义费项名称：</div>
                                <div class="right"><input class="radius3" type="text"></div>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <div class="left">缴费人姓名：</div>
                        <div class="right"><input class="radius3" required ng-model="paymentName" type="text"></div>
                    </li>
                    <li>
                        <div class="left">联系方式：</div>
                        <div class="right"><input class="radius3" ng-model="mobileNo" type="text" required></div>
                    </li>
                    <li>
                        <div class="left">收费金额：</div>
                        <div class="right"><input class="radius3" ng-model="chargeAmount" type="number" required></div>
                    </li>
                    <li>
                        <ul class="ks-swap">
                            <li>
                                <div class="left">支付方式：</div>
                                <div class="right">
                                    <div class="control-css3select">
                                        <select ng-model="paymentType"
                                        ng-options="payType.key as payType.value for payType in sysdictData.paymentType">
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <ul class="cash" ng-show="paymentType=='01'">
                                    <li>
                                        <div class="left">实收：</div>
                                        <div class="right"><input class="radius3"  ng-model="cashMoney" type="number"></div>
                                    </li>
                                    <li>
                                        <div class="left">找零：</div>
                                        <div class="right red" ng-bind="'￥'+(cashMoney-chargeAmount)"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="confirm redbutton control-button">
                <input value="确认收费" type="submit" class="radius3 button">
            </div>
        </form>
    </div>
</div>