<div style="display: block;" class="tempcharge" ng-controller="payListHistoryCtrl">

    <div class="searchpay">
        <div class="search-box left">
            <dirsearch roomlist="roomList"></dirsearch>
					        					    <span>
                                                        <input type="button" value="搜索" class="radius3 button JsW"
                                                               ng-click="getRecordListByPage('2')" button>
                                                    </span>

        </div>
        <div class="right keypayment">
            <input type="button" value="对账" class="radius2 button JsW" ng-click="skipRecon()" button>
        </div>
    </div>
    <div class="list-table">
        <div class="list-table-cont table5">
            <div class="table-title">
                <div class="row">
                    <div class="left">
                        <div class="details">
                            合计：<span ng-bind="sumWrite"></span>笔　　总金额：<span class="red" ng-bind="'￥'+(sumAmount|number:2)"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table>
                        <tbody>
                        <tr class=" th">
                            <td class="col1">房号</td>
                            <td class="col2">业主姓名</td>
                            <td class="col3">缴费金额</td>
                            <td class="col4" data-widget-config="{'dropDown':500,'document':'true','align': {'offset':[0,10],'points': ['bc','tc']
                                }}" popup>
                                <div class="ks-pop-nav status">缴费类型</div>

                                <div class="drop-box ks-pop-box" style="height: 330px;width:180px;display:none;">
                                    <div class="bg alpha60"></div>
                                    <div class="drop-cont">
                                        <form action="">
                                            <ul class="list">
                                                <li ng-repeat="(x,chargeType) in chargeTypeList">
                                                    <div class="JsW control-checkbox" checkbox>
                                                        <input type="checkbox" style="display: none;"
                                                               ng-click="jfstatuschk(chargeType)"/>
                                                    </div>
                                                    {{chargeType.value}}
                                                </li>
                                            </ul>
                                            <div class="redbutton JsW" data-control-type="button"
                                                 data-control-config="{'buttonCls':'button'}">
                                                <input value="确定" type="button" class="radius2 button red ks-pop-close"
                                                       ng-click="filterList()">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td class="col5"
                                data-widget-config="{'dropDown':200,'document':'true','align': {'offset':[0,10],'points': ['bc','tc']}}"
                                popup>
                                <div class="ks-pop-nav status">缴费时间</div>
                                <div class="drop-box ks-pop-box"
                                     style="display:none;width: 400px;height:80px;line-height:40px;">
                                    <div class="bg alpha60"></div>
                                    <div class="drop-cont">
                                        <dirdatetimepicker></dirdatetimepicker>
                                        <div class="redbutton JsW" data-control-config="{'buttonCls':'button'}"
                                             data-control-type="button">
                                            <input class="radius2 button red ks-pop-close" type="button"
                                                   ng-click="filterList()" value="确定">
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td class="col6" data-widget-config="{'dropDown':500,'document':'true','align': {'offset':[0,10],'points': ['bc','tc']
                                }}" popup>
                                <div class="ks-pop-nav status">支付渠道</div>

                                <div class="drop-box ks-pop-box" style="height: 150px;width:150px;display:none;">
                                    <div class="bg alpha60"></div>
                                    <div class="drop-cont">
                                        <form action="">
                                            <ul class="list">
                                                <li ng-repeat="(x,terminIdentify) in terminIdentifyList">
                                                    <div class="JsW control-checkbox" checkbox>
                                                        <input type="checkbox" style="display: none;"
                                                               ng-click="pcpsstatechk(terminIdentify)"/>
                                                    </div>
                                                    {{terminIdentify.terminIdentifyName}}
                                                </li>
                                            </ul>
                                            <div class="redbutton JsW" data-control-type="button"
                                                 data-control-config="{'buttonCls':'button'}">
                                                <input value="确定" type="button" class="radius2 button red ks-pop-close"
                                                       ng-click="filterList()">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td class="col7" data-widget-config="{'dropDown':500,'document':'true','align': {'offset':[0,10],'points': ['bc','tc']
                                }}" popup>
                                <div class="ks-pop-nav status">支付方式</div>

                                <div class="drop-box ks-pop-box" style="height: 180px;width:150px;display:none;">
                                    <div class="bg alpha60"></div>
                                    <div class="drop-cont">
                                        <form action="">
                                            <ul class="list">
                                                <li ng-repeat="(x,payType) in payTypeList">
                                                    <div class="JsW control-checkbox" checkbox>
                                                        <input type="checkbox" style="display: none;"
                                                               ng-click="ptpsstatechk(payType)"/>
                                                    </div>
                                                    {{payType.value}}
                                                </li>
                                            </ul>
                                            <div class="redbutton JsW" data-control-type="button"
                                                 data-control-config="{'buttonCls':'button'}">
                                                <input value="确定" type="button" class="radius2 button red ks-pop-close"
                                                       ng-click="filterList()">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td class="col8">操作人员</td>
                            <td class="col9" data-widget-config="{'dropDown':500,'document':'true','align': {'offset':[0,10],'points': ['bc','tc']
                                }}" popup>
                                <div class="ks-pop-nav status">缴费状态</div>

                                <div class="drop-box ks-pop-box" style="height: 270px;width:130px;display:none;">
                                    <div class="bg alpha60"></div>
                                    <div class="drop-cont">
                                        <form action="">
                                            <ul class="list">
                                                <li ng-repeat="(x,payStatus) in payStatusList">
                                                    <div class="JsW control-checkbox" checkbox>
                                                        <input type="checkbox" style="display: none;"
                                                               ng-click="statechk(payStatus)"/>
                                                    </div>
                                                    {{payStatus.value}}
                                                </li>
                                            </ul>
                                            <div class="redbutton JsW" data-control-type="button"
                                                 data-control-config="{'buttonCls':'button'}">
                                                <input value="确定" type="button" class="radius2 button red ks-pop-close"
                                                       ng-click="filterList()">
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </td>
                            <td class="col8">费项</td>
                            <td class="col10">操作</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-cont">
                <div class="row">
                    <table data-ng-init="getRecordListByPage('1')" class="JsW"
                            >
                        <tbody>
                        <tr ng-repeat="(k,record) in recordList">
                            <td class="col1" ng-bind="record.roomNo?record.roomNo:'--'"></td>
                            <td class="col2" ng-bind="record.paymengtName?record.paymengtName:'--'"></td>
                            <td class="col3" ng-bind="'￥'+(record.payAmount|number:2)"></td>
                            <td class="col4" ng-bind="record.chargeType|filter_chargeType"></td>
                            <td class="col5" ng-bind="record.payDate|filter_Date"></td>
                            <td class="col6" ng-bind="record.terminalId|filter_terminIdentify"></td>
                            <td class="col7" ng-bind="record.payType|filter_paymentType"></td>
                            <td class="col8" ng-bind="record.operatorName?record.operatorName:'--'"></td>
                            <td class="col9" ng-bind="record.payStatus|filter_payStatus"></td>
                            <td class="col9" ng-bind="record.chargeNo|filter_chargeNo"></td>
                            <td class="col10">
                                <div class="JsW"
                                     data-widget-config="{'contentCls':'ks-pop-box-list','document':true,'dropDown':300,'align': {'offset': [20, 30],'points': ['br','tr']}}"
                                     popup>
                                    <div class="control-operate ks-pop-nav"></div>
                                    <div class="drop-box operate-pop-box ks-pop-box-list" id="ks-pop-box-list"
                                         ng-show="record.payStatus=='03'">
                                        <div class="bg alpha60"></div>
                                        <div class="drop-cont JsW"
                                             data-widget-config="{'contentId':true,'popClose':'ks-pop-close1','contentCls':'ks-pop-box-paystatus'}"
                                             popup>
                                            <span class="ks-pop-nav ks-pop-close span"
                                                  ng-click="revokeOperate(k)">撤销</span>|
                                            <span class="span" ng-click="printReceipt(k)">打印收据</span>
<!--                                             <span class="span" ng-click="printTicket(k)">开发票</span> -->
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="modal-box" id="ks-pop-box-paystatus">
                        <div class="JsW bg alpha60" data-position-type="fixed" data-size-type="widescreen"></div>
                        <div class="pop-box" style="top:-100px;">
                            <div class="pop-box-hd">撤销操作<i class="ks-pop-close1">X</i></div>
                            <div class="pop-box-bd">
                                <div class="reason-hd">撤销原因：</div>
                                <div class="reason-bd">
                                    <textarea class="textarea" ng-model="revokeAccount"></textarea>
                                </div>
                            </div>

                            <div class="pop-box-ft">
                                <div class="redbutton control-button JsW" data-control-type="button"
                                     data-control-config="{'buttonCls':'button'}">
                                    <span>
                                        <input value="确认" ng-click="confirmRevoke()" type="button"
                                               class="radius5 button">
                                    </span>
                                    <span class="remove">
                                        <input value="取消" type="button" class="radius5 button ks-pop-close1">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="list-table-page">
            <div class="table-page-con">
                <pagination total-items="responseBody.total" ng-model="vm.page.pageNum" max-size="10"
                            items-per-page="vm.page.pageSize"
                            ng-change="vm.pageChanged()"
                            class="pagination-sm pull-right" boundary-links="true" first-Text="首页"
                            last-Text="最后一页" previous-text="上一页" next-text="下一页"></pagination>
            </div>
        </div>
    </div>
</div>