<div class="tempcharge" ng-controller="paysuccessCtrl">

	<div style="display: none;"></div>
	<div style="display: block;">
		<div class="content-box-con">
			<div class="success red">{{successInfo}}</div>
			<div class="details">你可通过缴费记录查看当前缴费详情！</div>
			<div class="keypayment JsW" data-control-type="button"
				data-control-config="{'buttonCls':'button'}">
				<input value="打印收款凭证" type="button" class="radius2 button" ng-click="printPz()">
<!-- 				<span class="close"> <input value="关闭" type="button" -->
<!-- 					ng-click="closeWindow()" class="radius2 button"> -->
<!-- 				</span> -->
			</div>
		</div>
	</div>
	<div style="display: none;"></div>
	<div style="display: none;"></div>

</div>