<div class="billdetails" ng-controller="printReceiptCtrl">
	<div class="list-table">

		<!--startprint1-->
		<!-- <div class="JsW ks-print"> -->
		<div class="JsW" data-widget-type="print" id="myPrintArea"
			data-widget-config="{'printCls':'printreceipt'}">
			<div>
				<div class="JsW list-table-cont table6">
					<div class="table-title">
						<div class="row tt">
							<div class="logo1">
								{{companyName}}
							</div>
							<div class="receipt-title">
								收 据
								<div class="number">
									编号：<span class="red" ng-bind="orderNo"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="subdetails margin">
								小区名称：<span ng-bind="communityName"></span> 房号：<span ng-bind="houseInfo.banNo+houseInfo.unitNo+'单元'+houseInfo.roomNo"></span> 房屋建筑面积：<span>100㎡</span>
								收费时间：<span ng-bind="paymentDate|filter_Date_S"></span>
								业主姓名：<span ng-bind="houseInfo.ownerName"></span>
							</div>
						</div>
					</div>
					<div class="table-cont">
						<div class="lable">
							<ul class="lable-box">
								<li class="lable-cont">第一联：存根 第二联：客户 第三联：回执联</li>
								<li class="lable-cont two">温馨提示：凭此收据一个月换取发票</li>
							</ul>
						</div>
						<div class="one">
							<table>
								<tbody>
									<tr class="th">
										<td class="col1">收费项目</td>
										<td class="col2">单价</td>
										<td class="col3">数量</td>
										<td class="col4">金额</td>
										<td class="col5">收费方式</td>
										<td class="tablelayoutcol"></td>

									</tr>
									<tr class="th" ng-repeat="unRead in unReadList">
										<td class="col1" ng-bind="unRead.chargeNo|filter_chargeNo"></td>
										<td class="col2" ng-bind="(unRead.unitPrice|number:2)"></td>
										<td class="col3" ng-bind="(unRead.quantity|number:2)"></td>
										<td class="col4" ng-bind="'￥'+(unRead.payAmount|number:2)"></td>
										<td class="col5" ng-bind="unRead.chargeWay|filter_chargeWar"></td>
										<td class="tablelayoutcol"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="two mergeup">
							<table>
								<tbody>
									<tr class="th">
										<td class="col1">收费项目</td>
										<td class="col2">计费起止时间</td>
										<td class="col3">上次读数</td>
										<td class="col4">本次读数</td>
										<td class="col6">数量</td>
										<td class="col5">单价</td>
										<td class="col7">金额</td>
										<td class="tablelayoutcol"></td>
									</tr>
									<tr ng-repeat="read in readList">
										<td class="col1" ng-bind="read.chargeNo|filter_chargeNo"></td>
										<td class="col2" ng-bind="read.startDate+' - '+read.startDate"></td>
										<td class="col3" ng-bind="read.lastReading"></td>
                                		<td class="col4" ng-bind="read.thisReading"></td>
										<td class="col5" ng-bind="read.quantity"></td>
										<td class="col6" ng-bind="read.unitPrice|number:2"></td>
										<td class="col7" ng-bind="'￥'+(read.payAmount|number:2)"></td>
										<td class="tablelayoutcol"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="subdetails margin">
								<div class="left ">
									支付方式：<span ng-bind="terminIdentify|filter_terminIdentify"></span>
								</div>
								<div class="right">
									合计金额（大写）：<span class="red" ng-bind="paymentAmountTotalDX"></span> ￥：<span class="red" ng-bind="paymentAmountTotal"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="subdetails">
								<ul>
									<li>会计：<span></span></li>
									<li>出纳：<span></span></li>
									<li>开票人：<span></span></li>
									<li>收款人：<span ng-bind="operatorName"></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>


			</div>
			<!--endprint1-->
		</div>

	</div>
</div>